header {
    height: 100px;
    background-color: rgb(3, 99, 167);
}

.topHeader {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    width: 100vw;
}

.mainLogo {
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.cornerLogo {
    height: 75px;
    width: 200px;
    padding-left: 50px;
    padding-top: 20px;
}

.landingPic{
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}
.homeLower{
  display: flex;
  justify-content: center;
  /*height: 50vh;*/
  /*background-image: url('../images/thisImg.png');
  background-size: contain;*/

}

.myBorder{
    width: 70vw;
    border-bottom: 2px solid black;
}
.myBorder2{
    width: 70vw;
    border-top: 2px solid black;
}

.lowerWords{
  color: rgb(3, 99, 167);
  font-size: 7vh;
  margin-bottom: 0px;
  font-family: 'Merriweather', serif;
  border-width: 50px;
  margin: 25px;
  /*background-image: url('../images/thisImg.png');*/

}

.homeClass{
  height: 100vh;
}

.myCenter{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.mainAreaTitle {
    color: white;
    padding-top: 120px;
}

.homeArea, .aboutArea {
    margin: 15px;
}

ul {
     list-style-type: none;
}
a {
    text-decoration: none;
}

li {
    font-size: 24px;
}


.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-right: 50px;
    width: 75%;
}

.aboutImg {
    height: 30%;
    width: 30%;

    float: left;
    padding-right: 15px;
    margin-left: 30px;
}

.aboutWords {
    font-size: 20px;
}
.moreAreas {
    padding-top: 110px;
    height: 800px;
}

.ourUs {
margin-left: 30px;
}
#about {
    background-color: rgb(210, 210, 210);
    padding-bottom: 5%;
    height: 100vh;
}

.left, .right {
    margin-top: 70px;
    padding-right: 10px;
    font-size: 30px;
}
.left {
    padding-left: 30px;
}

.serviceStuff {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;

}

.reachOutInfo {
    margin-top: 10%;
    margin-left: 30%;

}
a {
  text-decoration: none;
  color: white;
}
li {
  font-size: 24px;
}
