header {
    height: 100px;
    background-color: rgb(245, 245, 245);
}

.mainLogo {
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

h2 {
    color: red;
}

.firstImage, .secondImage {
    width: 100%;
    margin-top: 20px;
}

.homeArea {
    margin: 15px;
}

.nav{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
